#recipe-tab {
    margin-top: 75px;
    bottom: 0;
    width: 100%;
    min-height: 300px;
    height: 100%;
    background: #A7A7A7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    #recipe-tab {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}
